body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color:#1c1d26 ;
}

p {
    color: white;
    font-family: arial;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar {
    display: none;
}

#home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#home p {
    font-size: 3.5rem;
    font-weight: 800;
    
    background: linear-gradient(90deg, #00f2fe 0%, #4facfe 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: fadeInUp 1.2s ease-out forwards;
    opacity: 0;
}

h1 {
    background: linear-gradient(90deg, #00f2fe 0%, #4facfe 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    margin: 4vh 0 4vh 0;
    text-transform: uppercase;

}

#AboutMe {
    display: flex;
    justify-content: center;
}

.icon {
    max-width: 100px;
    width: 10vw;
}

.link-container, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;

}

.projects img {
    width: 70vw;
    max-height: 40vh;
    height: auto;
}

.projects {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    flex-wrap: wrap
}

.projects p {
    padding: 0 3vw 0 3vw;
    max-width: 80vw;
    }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    gap: 5px;
    background-color: #272831
}

.contact {
    margin-bottom: 2vw;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  left: 50%;
  font-size: 30px;
  color: #38bdf8;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -20px);
  }
  60% {
    transform: translate(-50%, -10px);
  }
}

@media (min-width: 880px) {
    h1 {
        color: #a9adc1;
    }

    .navbar {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3%;
        padding : 1.5vh 0 1.5vh 1vw;
        background-color: #272831;
    }

    .navbar a {
        position: relative;
        color: #a9adc1;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-decoration: none;
    }

    #about {
        margin-top: 60px;
    }

    #title-about-me.about, .about, .projects, .links, .contact {
        scroll-margin-top: 60px; 
    }

    .navbar a:hover {
        color: #ffffff;
    }

    #home {
        display: none;
    }

    .icon {
    width: 5vw;
    }

    .projects p {
    padding: 0 3vw 0 3vw;
    max-width: 30vw;
    }

    .projects img {
    width: 30vw;
    max-height: 40vh;
    height: auto;
    }
}