body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color:#1c1d26 ;
}

p {
    color: white;
}

.navbar {
    display: none;
}

#home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#home p {
    font-size: 3.5rem;
    font-weight: 800;
    
    background: linear-gradient(90deg, #00f2fe 0%, #4facfe 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: fadeInUp 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 700px) {
    .navbar {
        display: flex;
    }
    #home {
        display: none;
    }
}

@media (min-width: 1300px) {
    .navbar {
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3%;
        padding : 1.5vh 0 1.5vh 1vw;
        background-color: #272831;
    }

    .navbar a {
        position: relative;
        color: #a9adc1;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-decoration: none;
    }

    .navbar a:hover {
        color: #ffffff;
    }

    #home {
        display: none;
    }
}